
/*body e home*/
body {
    font-family: 'Courier Prime', Courier, monospace;
    color: whitesmoke; 
    margin: 0;
}

.home {
    background-image: url(https://images6.alphacoders.com/885/885542.png);
    background-color: black;
}

.homecat {
    padding-top: 570px;
}

/*Projeto Donut*/

.home-project header {
    background-size: cover;
    text-align: center;
    margin: auto;
    color: black;
}

.home-project header span {
    margin: 0 0 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.home-project header div {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    height: 75px;
}

.home-project main {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    gap: 20px;
}


.home-project #sidebar-right, #sidebar-left {
    width: 200px;
    background-color: rgb(48, 47, 63);
    height: 500px;
    padding: 20px;
}

.home-project #content {
    width: 500px;
    background-color: rgb(89, 85, 95);
    height: 500px;
    padding: 20px;
}

/*exercicios*/
.bloco {
    background-color: rgb(200, 171, 228);
    width: 50px;
    height: 50px;
    text-align: center;
}

#exe1 {
    padding: 25px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#exe2 {
    padding: 25px;
    background-color: rgb(230, 230, 230);
    align-items: center;
    display: flex;
    flex-direction: column;
}

#exe2 .main {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
}

#exe2 .bloco {
    margin: 10px;
}

#exe3 {
    padding: 25px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    height: 550px;
    display: flex;
    flex-direction: column;
}

#exe3 .bloco{
    width: 250px;
    margin: 10px;
}

#exe3 .down {
    margin-top: auto;
}

/*footer*/
footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}